/*.split {*/
/*    height: 100%;*/
/*    width: 50%;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    top: 0;*/
/*    overflow-x: hidden;*/
/*    padding-top: 20px;*/
/*}*/

img:hover {
    opacity: 0.5;
}

.left {

    background-color: whitesmoke;
}

.right {
    background-color: whitesmoke;

}
.centered {
    position: inherit;
    top: 50%;
    left: 50%;
    transform:inherit;
    text-align: center;
}


.centered img {
    width: 125px;
    height: 120px;
    border-radius: 50%;
}
.icon-bar {
    width: 40px;
    background-color: whitesmoke;

}

.icon-bar a {
    display: flow;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: dimgray;
    border-radius: 50%;
}

.active {
    background-color: #d3f3e7;
}
.responsive-image{
    width: 100%;
    height: auto;

}


