@import "/node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  background-color: transparent;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
  background-color: transparent;
}
